<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title></title>
</head>
<body>
 <% include partials/_header %>
<h3><strong>Create Account</strong></h3>
      <div class=""> 
        <label style="color: black; width: 42px; margin: .7em;"for="email">Email:</label>
        </div>
        
        <input class="form-control" type="email" name="email" placeholder="enter email here" style="width: 280px; margin: .1em; align: center;" />
        
        <div class=""> 
        <label style="color: black; width: 80px; margin: .7em;" for="password">Password:</label>
        
        </div>
        <input class="form-control" type="password" name="password" placeholder="enter password here" style="align: center; width: 250px; margin: .1em;" />
        <div class="">
        <button style="color: red; width: 80px; margin: .6em;" type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form> 
</body>
</html>

